@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;500&family=Roboto:wght@400&display=swap');

:root {
  --font-size-headline: clamp(2.5rem, 2.4vw, 5rem);
  --font-size-title: clamp(1.5rem, 1vw, 2.75rem);
  --font-size-heading1: clamp(1rem, 1vw, 1.875rem);
  --font-size-subtext1: clamp(0.8rem, 0.8vw, 1.35rem);
  --font-size-cta-text-1: clamp(1rem, 1vw, 1.375rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

